h1{
    color: aqua;
}

.a1{
    background-color: aquamarine;

}

.a2{
   background-color: green;

}

.a3 {
    background-color: rgb(245, 41, 184);
}

.a4 {
      background-color: black;
}